h1 {
	text-decoration: underline;
	text-align: center;
}

table {
	margin: auto;
}

td {
	height: 100px;
	width: 100px;
	border: 2px solid black;
}

.left, .right {
	border-left: 0;
	border-right:0;
}

.top, .bottom {
	border-top: 0;
	border-bottom: 0;
}

