h1 {
	text-decoration: underline;
	text-align: center;
}

.container {
	display: flex;
	justify-content: center;
}

.square {
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

.square:hover {
	background-color: springgreen;
}

.circle {
	height: 70px;
	width: 70px;
	margin: 15% auto;
}

.circle:hover {
	border: 3px solid red;
	border-radius: 50%;
}

.top, .bottom {
	border-top: 0;
	border-bottom: 0;
}

.left, .right {
	border-right: 0;
	border-left: 0;
}
